name: CI - API, E2E e Performance

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-api:
    name: Testes de API
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm install
      - name: Executar testes de API
        run: npm run test:api
      - name: Upload Relatório API
        uses: actions/upload-artifact@v4
        with:
          name: api-report
          path: reports/api-report.html

  test-e2e:
    name: Testes E2E
    runs-on: ubuntu-latest
    needs: test-api
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm install
      - name: Instalar Playwright
        run: npx playwright install
      - name: Executar testes E2E
        run: npm run test:e2e
      - name: Upload Relatório E2E
        uses: actions/upload-artifact@v4
        with:
          name: e2e-report
          path: reports/e2e-report.html

  test-performance:
    name: Testes de Performance
    runs-on: ubuntu-latest
    needs: test-e2e
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: npm install
      - name: Instalar k6
        run: |
          sudo apt-get update
          sudo apt-get install -y curl gnupg
          curl -fsSL https://dl.k6.io/key.gpg | sudo gpg --dearmor -o /usr/share/keyrings/k6-archive-keyring.gpg
          echo "deb [signed-by=/usr/share/keyrings/k6-archive-keyring.gpg] https://dl.k6.io/deb stable main" | sudo tee /etc/apt/sources.list.d/k6.list
          sudo apt-get update
          sudo apt-get install -y k6
      - name: Executar testes de performance
        run: npm run test:performance
      - name: Upload Relatório Performance
        uses: actions/upload-artifact@v4
        with:
          name: k6-report
          path: reports/k6-report.html
